@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

:root{
    --cor-principal:#008f7a;
--cor1: #2c73d2;
--cor2: #4d8076;
--cor3: #fff5f9;
--preto: #000000;
--branco: #ffffff
}
body {

font-size: 1rem;
font-family:'Vernon Adams';

}

