@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

:root{
    --cor-principal:#254d4c;
--cor1: #266f5e;
--cor2: #e0cb41;
--cor3: #fff5f9;
--preto: #000000;
--branco: #ffffff
}
body {

font-size: 1rem;
font-family:'Vernon Adams';
}
#contato {

background: var(--cor-principal);
background-size: cover ;
padding: 4rem 0;

}
.formulario{ 

background-color: var(--branco);
padding: 2rem;
border-radius: 10px0  ;
box-shadow: 0 0 10px   ;
font-weight: bold ;

}

.formulario button {

background-color:var(--cor2)
border:none;
font-weight:bold

}

.form-control{

    background-color: var(--cor1);
}